#signpop {
    position: absolute;
    background: linear-gradient(to left, black, skyblue, red, pink, gray, darkblue);
    width: 300px;
    margin: 50px;
    margin-top: 150px;
    margin-left: 35%;
}

#popsignin {
    height: 30px;
    width: 25%;
    background-color: darkblue;
    color: white;
    margin: 10%;
}

#popsignup {
    height: 30px;
    width: 25%;
    background-color: darkblue;
    color: white;
    margin: 10%;
}

.popdown {
    text-align: center;
    width: 23px;
    float: right;
    float: top;
    background-color: red;
    color: white;
    text-align: right;
}